# Copyright (c) 2026 The Frontier Framework Authors
# SPDX-License-Identifier: Apache-2.0 OR MIT

name: Build Frontier App Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    outputs:
      app_name: ${{ steps.get_app_info.outputs.app_name }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: main

      # --- Install Dependencies ---

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          #cache: 'gradle'
          #cache: 'maven'

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: true
      
      #- name: Install Go Dependencies
        #run: go mod download

      - name: Cache MinGW (GCC)
        id: cache-mingw
        uses: actions/cache@v4
        with:
          path: C:\ProgramData\chocolatey\lib\mingw
          key: ${{ runner.os }}-mingw-v1
          restore-keys: ${{ runner.os }}-mingw-

      - name: Setup MinGW (GCC)
        if: steps.cache-mingw.outputs.cache-hit != 'true'
        run: |
          choco install mingw --unattended
          echo "C:\tools\mingw64\bin" >> $env:GITHUB_PATH

      # --- Install Rust ---

      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-v1
          restore-keys: ${{ runner.os }}-cargo-

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      # --- Install Frontier ---

      - name: Cache Frontier
        uses: actions/cache@v4
        with:
          path: |
            .frontier/target/debug/
            .frontier/target/release/
          key: ${{ runner.os }}-frontier-${{ hashFiles('**/.frontier/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-frontier-

      - name: Setup Frontier
        shell: pwsh
        run: $v='0.1.0-alpha.6'; $p='.'; $ni=1; $nu=1; iex (irm 'https://frontier-fw.dev/win/v0.1.0-alpha.6/get.ps1')

      # --- Build Process ---

      - name: Build Frontier App
        run: .\frontier build

      - name: Upload Windows App
        uses: actions/upload-artifact@v4
        with:
          name: windows-binary
          path: dist/*

  # --- Release Process ---

  create-release:
    needs: build-windows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Windows App
        uses: actions/download-artifact@v4
        with:
          name: windows-binary
          path: release-artifacts

      - name: Create Release and Upload File
        uses: softprops/action-gh-release@v2
        with:
          name: "Calculator Example - ${{ github.ref_name }}"
          generate_release_notes: true
          files: release-artifacts/*
          prerelease: ${{ contains(github.ref_name, '-') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
